
.cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:8rem 0 0 0;
}

.cart-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  background: #FAFAFA;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-counter {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
}

.counter-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background: #ddd;
}

.cart-actions {
  display: flex;
  gap: 1rem;
}

.buy-btn {
  background-color: #ff9800;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-btn {
  background-color: blue;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
    text-align: center;
  }
  .cart-counter {
    justify-content: center;
  }
  .cart-actions {
    justify-content: center;
  }
}
