
 .slider {
    display: flex;
    /* padding: 0 0 0 0; */
    /* border: 1px solid red;  */
    margin-top: 4.2rem;
    position: relative;
  }
  br{
    display: none;
  }

  .left-arrow {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    left: 45px;
    background-color: #E5E7EB;
  /* background-color: white; */
    padding: 8px;
    border-radius: 0.5rem;
     cursor: pointer;
    /* border: 1px solid; */
    /* color: black; */
  }
  .left-arrow svg ,.right-arrow svg{
   color: black;
   width: 15px;
   height: 15px 
  }
  .right-arrow {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    right: 5px;
    background-color: #E5E7EB;
    padding: 8px; 
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    height: 570px;
    width: 1168px;
  }
  
  .slide img { 
    width: 100%; /* ab image container (slide) ke full width ke barabar hogi */
    border-radius: 1rem;
    /* object-fit: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
  }

  

.hero .text{
  text-align: center;
  width: 80%;
   padding: 50px;
  /* border: 1px solid red; */
  position: absolute;
  transform: translate(-50%);
  top: 20%;
  left: 50%;
  
}
.hero .text h1{
font-size: 3.8rem;
background: var(--my-gradient);
color: transparent;
-webkit-background-clip: text;
 /* color: #e91e63; */
  margin-bottom: 20px;
}

.hero .text p{
  font-size: 15px; 
  margin-bottom:30px; 
  color: white;
  font-weight: 500;
  line-height: 1.1;
}


.hero .text button{
      background: #ff9800;
      color: white;
      padding: 12px 20px;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      font-weight: 600;
      cursor: pointer;
    
}


/*hero section responsiveness  */

@media (max-width:1199px){
  .slide {
    width: 970px;
  }
  .hero .text h1 {
    font-size: 3rem;
}
  
}

@media (max-width:991px){
  .slide {
    width: 720px;
  }

}
@media (max-width:767px){
  .slide {
    width: 550px;
    height: 490px;
  }
  .hero .text h1 {
    font-size: 2rem;
}

br{
  display: block;
}

}

@media (max-width:579px){
  .slide {
    width: 396px;
  }

}

@media  (min-width:320px) and (max-width:424px){
  .slide {
    width: 296px;
  }

}
