
  br{
    display: none;
  }

 .caro{
  position: relative;
  margin-top: 4rem;
 } 
 
  .left-arrow {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    left: 45px;
    background-color: #E5E7EB;
  /* background-color: white; */
    padding: 8px;
    border-radius: 0.5rem;
     cursor: pointer;
    /* border: 1px solid; */
    /* color: black; */
  }
  .left-arrow svg ,.right-arrow svg{
   color: black;
   width: 15px;
   height: 15px 
  }
  .right-arrow {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    right: 5px;
    background-color: #E5E7EB;
    padding: 8px; 
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    height: 570px;
    width: 1168px;
  }
  
  .slide img { 
    width: 100%; /* ab image container (slide) ke full width ke barabar hogi */
    border-radius: 1rem;
    /* object-fit: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
  }

  

