
 .slider {
    display: flex;
    /* justify-content: space-evenly; */
    padding: 10px 0 0 0;
    /* align-items: center; */
    /* height: 100vh; */
    /* border: 1px solid red;  */
    /* height: calc(100%-35px); */
    /* border-radius: 8px; */
    position: relative;
  }
  
  .left-arrow {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    left: 45px;
    background-color: #E5E7EB;
  /* background-color: white; */
    padding: 8px;
    border-radius: 0.5rem;
     cursor: pointer;
    /* border: 1px solid; */
    /* color: black; */
  }
  .left-arrow svg ,.right-arrow svg{
   color: black;
   width: 20px;
   height: 20px 
  }
  .right-arrow {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    right: 5px;
    background-color: #E5E7EB;
    padding: 8px; 
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    border-radius: 8px;
    /* width: 70%; */
    height: 570px;
    width: 1200px;
  }
  
  .slide img { 
    width: 100%; /* ab image container (slide) ke full width ke barabar hogi */
    border-radius: 1rem;
    /* object-fit: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
  }

  /* width: 100%; */
  /* background-image: url('your-image-url.jpg'); */
/* background-size: contain; */
/* background-repeat: no-repeat; */
/* background-position: center; */
  


.hero .text{
  text-align: center;
  width: 80%;
   padding: 50px;
  /* border: 1px solid red; */
  position: absolute;
  transform: translate(-50%);
  top: 30%;
  left: 50%;
  
}
.hero .text h1{
font-size: 3.8rem;
background: var(--my-gradient);
color: transparent;
-webkit-background-clip: text;
 /* color: #e91e63; */
  margin-bottom: 20px;
}

.hero .text p{
  font-size: 15px; 
  margin-bottom:30px; 
  color: white;
  font-weight: 500;
  line-height: 1.1;
}


.hero .text button{
      background: #ff9800;
      color: white;
      padding: 12px 20px;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      font-weight: 600;
      cursor: pointer;
    
}


/*hero section responsiveness  */

@media (min-width:1200px){
  .hero .text{
    top: 30%;
  }
}
@media (min-width:991px) and (max-width:1200px){
  .hero .text{
  text-align: center;
  width: 80%;
   padding: 50px;
  /* border: 1px solid red; */
  position: absolute;
  transform: translate(-50%);
  top: 20%;
  left: 50%;
  
}
.hero .text h1{
font-size: 3rem;
background: var(--my-gradient);
color: transparent;
-webkit-background-clip: text;
 /* color: #e91e63; */
  margin-bottom: 20px;
}

.hero .text p{
  font-size: 15px; 
  margin-bottom:30px; 
  color: white;
  font-weight: 500;
  line-height: 1.1;
}


.hero .text button{
      background: #ff9800;
      color: white;
      padding: 12px 20px;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      font-weight: 600;
      cursor: pointer;
    
}

   
}
@media (min-width:992px) and (max-width:1199px){
  .wrapper {
      width: 970px;
      /* border: 1px solid; */
  }   
}
@media (min-width:768px) and (max-width:991px){
  .wrapper {
      width: 720px;
      /* border: 1px solid blue; */
  }   
}

@media (min-width:580px) and (max-width:767px){
  .wrapper {
      width: 550px;
      
      /* border: 1px solid green; */
  }   
}

@media (min-width:425px) and (max-width:579px){
  .wrapper {
      width: 400px;
      
      /* border: 1px solid red; */
  }   
}

@media (min-width:320px) and (max-width:424px){
  .wrapper {
      width: 300px;        
      /* border: 1px solid red; */
  }   
} 
