  
 
  .testimonials{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;

  }
 
  
  .testimonials-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

  }
  .testimonials-heading h1{
background: var(--my-gradient-second);
color:transparent;
-webkit-background-clip: text; 
font-size: 32px;   

  }
  

  .testimonials-heading p{
font-size: 17px;
  }
  
  
  .testimonial-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-column-gap: 1rem; */
    gap: 2rem;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    /* border: 1px solid; */
  }
  .testimonial-card{
    border-radius: 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
  }
  
  .testimonial-card .info {
    display: flex;
    align-items: center;
  }
  
  .testimonial-card .info img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .name-job{
    display: flex;
    flex-direction: column;
    /* gap: px; */
  }
  .testimonial-card .info .name {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    color: transparent;
    background: var(--my-gradient-third);
    -webkit-background-clip: text;
  }
  
  .testimonial-card .info .job {
    text-transform: capitalize;
    margin-top: 4px;
    color: transparent;
    background: var(--my-gradient-second);
    -webkit-background-clip: text;
    
   
  }
  
  .testimonial-card p {
    margin-top: 15px;
    font-size: 15px;
    /* color: grey; */
    
  }
  
  .testimonial-card .rating {
    margin-top: 15px;
  }
  

  .testimonial-card .rating i {
    font-size: 18px;
    /* background: var(--my-gradient-second); */
    color:yellow;
    /* color: transparent; */
    /* -webkit-background-clip: text; */
  }
  
  
  
/* Responsiveness Started */


@media (max-width:991px) {
  .testimonial-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-column-gap: 1rem; */
    gap: 2rem;
}
  
}
@media (max-width:579px) {
  .testimonial-cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* grid-column-gap: 1rem; */
    gap: 2rem;
}
  
}